{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}{{ block.super }}
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'admin/css/panther-admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}" class="pth-brand">
    <span class="pth-logo"><img src="{% static 'img/panther-mark.png' %}" alt="Panther Home Care"></span>
    <span class="pth-name"><b>Panther Home Care</b><small>Espace d'administration</small></span>
  </a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
